#div3{
	background-image: url(../img/mst_ab693f80c37ef10b2ad70212c9e5984c.jpg);
	background-size: 100% ;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left:2.67% ;
	padding-right: 2.67%;
	margin-top: -4px;
}
#div3>div{
	margin-top: 23%;
	margin-left: 5px;
	margin-right: 5px;
	width: 23%;
}
#div3_01{
	margin-top: -28%;
	width: 12%;
}
#div3_02{
	margin-top: -28%;
	width: 12%;
}
#div3_03{
	margin-top: -28%;
	width: 12%;
}
#div3_04{
	margin-top: -28%;
	width: 12%;
}
#div4{
	background-image: url(../img/mst_aae0098fbbf7e246383b0ae77e489e88.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	display: flex;
	align-content: center;
	justify-content: space-between;
}
#div4>div{
	width: 40%;
	margin-top: 20%;
}
#div4>div>img{
	width: 100%;
}
#div5{
	background-image:url(../img/mst_e4628af334001f62464e8991eae19563.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	display: flex;
	align-content: center;
	justify-content: space-between;
	padding-top: 18%;	
	padding-left: 3%;
	padding-right: 3%;
}
#div5>div{
	width: 31%;
	position: relative;
}
